{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>salehifar | {% block title %} {% endblock title %}</title>
    {% block css %}

    {% endblock css %}

</html>
<body>

    {% block content %}
    {% include 'includes/header.html' %}



    {% endblock content %}

    
    {% block js %}
    {% endblock js %}
</body>
</html>